decorator==4.3.2
dnspython==1.16.0
Flask==1.1.2
Flask-Mail==0.9.1
Flask-PyMongo==0.5.2
httplib2==0.12.3
idna==2.9
Jinja2==2.11.2
pdfkit==0.6.1
pydot==1.4.1
PyJWT==1.7.1
pymongo==3.8.0
pyparsing==2.3.1
pycodestyle==2.5.0
python-dateutil==2.8.0
pycparser==2.20
pytz==2018.9
requests==2.23.0
urllib3==1.25.8
flask-login
Werkzeug==1.0.1
gunicorn==19.9.0