@font-face {
    font-family: 'cisco-sans';
    src: url("/static/fonts/CiscoSans/CiscoSansTTLight.ttf"); 
}

.navbar-brand{
  color:#009EDC;
}
.cisco{
  font-family: 'cisco-sans';
  color:#009EDC;
}
